<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bomb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buyBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 30}</string>
			<key>spriteSourceSize</key>
			<string>{120, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 55}, {120, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 11}, {88, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{88, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 89}, {88, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_1000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {148, 103}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{148, 103}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 396}, {148, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {150, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{150, 84}</string>
			<key>spriteSourceSize</key>
			<string>{150, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 192}, {150, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_300.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {128, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 88}</string>
			<key>spriteSourceSize</key>
			<string>{130, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 102}, {128, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_500.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 12}, {120, 87}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{120, 87}</string>
			<key>spriteSourceSize</key>
			<string>{150, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 0}, {120, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>configBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 149}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>creditBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 89}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 278}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gamecenter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 278}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {81, 196}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 196}</string>
			<key>spriteSourceSize</key>
			<string>{83, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {81, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item_btn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {79, 196}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{79, 196}</string>
			<key>spriteSourceSize</key>
			<string>{83, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{83, 0}, {79, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 162}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>manual_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {81, 196}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 196}</string>
			<key>spriteSourceSize</key>
			<string>{83, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 198}, {81, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>manual_btn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {79, 196}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{79, 196}</string>
			<key>spriteSourceSize</key>
			<string>{83, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{83, 198}, {79, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>moreAppBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 36}</string>
			<key>spriteSourceSize</key>
			<string>{180, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 313}, {180, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>moreAppBtn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 36}</string>
			<key>spriteSourceSize</key>
			<string>{180, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 302}, {180, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>netPlayBtn_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 450}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>netPlayBtn_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 340}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>netPlayBtn_en_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 197}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>netPlayBtn_en_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 0}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>notice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {194, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{194, 40}</string>
			<key>spriteSourceSize</key>
			<string>{200, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 229}, {194, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>onePlayBtn_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 395}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>onePlayBtn_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 142}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>onePlayBtn_en_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 331}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>onePlayBtn_en_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 87}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 271}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 396}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 169}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>selectBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {182, 50}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{182, 50}</string>
			<key>spriteSourceSize</key>
			<string>{200, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 110}, {182, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>selectBtn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {186, 48}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{186, 48}</string>
			<key>spriteSourceSize</key>
			<string>{200, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 252}, {186, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shopBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 169}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 50}</string>
			<key>spriteSourceSize</key>
			<string>{100, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 162}, {100, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 50}</string>
			<key>spriteSourceSize</key>
			<string>{100, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{886, 157}, {100, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 50}</string>
			<key>spriteSourceSize</key>
			<string>{100, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{886, 105}, {100, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 50}</string>
			<key>spriteSourceSize</key>
			<string>{100, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{862, 209}, {100, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {140, 48}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{140, 48}</string>
			<key>spriteSourceSize</key>
			<string>{200, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 55}, {140, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleBtn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {182, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{182, 50}</string>
			<key>spriteSourceSize</key>
			<string>{200, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 261}, {182, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twitter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 278}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twoPlayBtn_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 271}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twoPlayBtn_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 0}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twoPlayBtn_en_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {194, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 0}, {194, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twoPlayBtn_en_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 53}</string>
			<key>spriteSourceSize</key>
			<string>{200, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{646, 55}, {200, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>btn.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>btn_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>btn_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>